body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
  position: relative;

}
.background-logo{
  background-color: #695b59;
  background-image:  url("../img/background-photo.jpg");
  background-position: top center;
  width: 100%;
}
.polygon{
  width: 100%;
  height: 59px;
  margin-top:-57px;

}
.polygon-block{
  font-size: 0;
  line-height: 0;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.filtres{
  font-size: 14px;
  line-height: 21px;
  font-weight: 700px;
  color: #ffffff;
  background-color: #686d73;
  background-image: url("../img/filter-background.jpg");
  width: 1200px;
  background-position: center;
  background-repeat: no-repeat;
}
a {
  text-decoration: none;
  color: inherit;
  font: inherit;
}
.logo{
  width:459px;
}
.main-navigation {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  background-color: #ffffff;
}
.site-navigation{
  list-style: none;
  font-weight: 700;
}
.site-navigation a:hover{
  color: #81b3d2;
}
.site-navigation a:focus{
  color: (0, 0, 0, 0.3);
}
.site-navigation .hotel-active{
  color: #766357;
}
.welcome{

padding-top: 61px;
padding-bottom: 56px;
}
.introduce{
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  margin: 0 auto;
  margin-bottom: 43px;
  text-align: center;
  max-width: 450px;

}
.reasons{
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  margin: 0;

}
.features-list{
  list-style: none;
  text-align: center;
}
.feature-item {
  text-align: center;
}

.feature-item h3,
.advice-list h4 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}
.photo1, .photo2{
  width:800px;
}
.feature-blue{
  color: #ffffff;
  background-color: #81b3d2;
}
.feature-blue h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  margin: 0 auto;
  text-align: center;
  width: 200px;
}
.feature-grey{
  color: #000000;
  background-color: #eeeeee;
}
.feature-grey h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}
.search-hotel{
  background-color: #ffffff;
  color: #000000;
  text-align: center;
}
.search-hotel h2{
  font-size: 30px;
  line-height: 36px;
}

.button-search{
  font-size: 21px;
  line-height: 26px;
  color:#ffffff;

  font-weight: 700;
  background-color:#766357;

  text-transform: uppercase;
  border:none;
}
.button-search:hover{
  background-color: #604e43;
}
.button-search:focus{
  background-color: #503e33;
  color:#928a85;
}
.form-hotel{
  font-weight: 700;
  color:black;
  font-size: 14px;
  line-height: 26px;
}
.form-hotel input{
  color:#000000; /*все еще не работает*/
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  font: inherit;
  font-size: 14px;
  line-height: 26px;
}
.form-hotel input:hover{
  font: inherit;
  background-color:#ebebeb;
  border: 1px solid #ebebeb;
}
.form-hotel input:focus{
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
}
.form-buttom{
  background-color: #f2f2f2;
  width: 38px;
  text-align: center;
  border: none;
}
.plus-minus{
  color:#a9a9a9;
  font-size: 14px;
  line-height: 26px;
}
.plus-minus:hover{
  color:#000000;
}
.plus-minus:focus,
.plus-minus:active{
  color:#81b3d2;
}
.search{
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  width: 458px;
  color: #ffffff;
  background-color: #81b3d2;
  vertical-align: middle;
  text-transform: uppercase;
  border:none;
}
.search:hover{
  background-color: #669ec0;
}
.search:focus{
  background-color: #5496bd;
  color: (255, 255, 255, 0,3)
}
.button-results{
  text-align: center;
  font-size: 14px;
  line-height: 21px;
  border:2px solid white;
  background-color: transparent;
  color:white;
  width: 133px;
}
.button-results:hover{
  background-color: white;
  color:black;
}
.sort h2{
  color:black;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}
.resuls-search{
  font-size: 21px;
  color: black;
}
.sort .choose{
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  border: none;
  border-bottom: 1px dotted;
  border-color: #81b3d2;
  background-color: white;
  text-transform: uppercase;
}
.sort .choose:hover{
  color:#81b3d2;
  border-bottom: 1px dotted;
}
.sort .choose:focus{
  color: black;
  border-bottom: none;
}
.sort .choose-active{
  color:#81b3d2;
  border-bottom: none;
}
.sort{
  position: relative;

}
.down{
  position: absolute;
  right:58px;
  bottom: 34px;
  width: 11px;
  height: 10px;
  background-color: transparent;
  border: none;
  fill:#d5d5d5;
}
.up{
  right:35px;
  position: absolute;
  bottom: 34px;
  width: 11px;
  height: 10px;
  background-color: transparent;
  border: none;

}
.up-down:hover path{
  fill: #242021;
}
.up-down:focus path{
  fill: #83b4d3;
}

}
.list-found{
  list-style: none;
}
.list-found h3{
  margin:0;
}
.button-detail, .button-book{
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  border: none;
  color: white;
  text-transform: uppercase;
}
.button-detail{
  background-color: #81b3d2;
  min-width:110px;
  border: none;
}
.button-detail:hover{
  background-color: #669ec0;
}
.button-detail:focus{
  background-color: #5496bd;
}

.button-book{
background-color: #766357;
min-width: 142px;
border: none;
}
.button-book:hover{
background-color: #604e43;
}
.button-book:focus{
background-color: #503e33;
}
.rating{
  font-size: 14px;
  line-height: 25px;
  font-weight: 400;
}
.text-behavior{
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}
.text-behavior:hover, .text-behavior:focus{
  color: #81b3d2;
}
.text-behavior:active{
  color:rgba(0, 0, 0, 0.3);
}
.hashtag{
  font-size: 21px;
  line-height: 25px;
  font-weight: 700;
}


/* сеточные стили */
.page-content{
  width: 1200px;
  margin:0 auto;
  background-color: #ffffff;
}
.main-header{
  margin:0;
  padding:0;
}
.main-navigation{
  position: relative;
  width: 100%;
}
.main-logo{
  width:140px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.site-navigation{
  padding-left: 75px;
  padding-right: 75px;
  display: flex;
  margin: 0;
}
/* .site-navigation li{
  width: 20%;
  text-align:right;
} */
.left-side-navigation{
  width: 25%;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: left;
}
.right-side-navigation{
  width: 25%;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: right;
}

/*  остановилась тут*/
.background-logo{
    text-align: center;
}
.logo{
  padding: 77px;
}


.blue-text{
  width: 33.333%;
   padding: 50px 10px 10px 10px;
}
.features-list h3,
.features-list h4{
  max-width: 165px;
  margin: 0 auto;
  margin-bottom: 32px;
  text-align: center;
}
.features-list .number{
  margin: 0 auto;
  margin-bottom: 32px;

}
.features-list p{
  max-width: 280px;
  margin: 0 auto;
}

.feature-grey-items{
  width: 33.333%;
  padding: 50px 10px 10px 10px;
}
.feature-grey-items h3{
  max-width: 120px;
}
.blue-text,
.feature-grey-items{
  min-height: 195px;
}
.blue-photo{
  width:66.666%;
  line-height: 0;
}
.features-list {
  margin: 0;
  padding:0;
}
.feature-blue{
  width: 1200px;
  display: flex;


}
.advice-list{
  display: flex;

}
.advice-list-items{
  width: 33%;
  padding:50px;
}
.advice-list-items{
  padding-top: 166px;
  position: relative;
}
.icon-1 h4::before {
  content: "";
  position: absolute;
  width: 75px;
  height: 72px;
  top: 61px;
  left: 163px;
  background-color: #ffffff;
  background-image: url(../img/icon-1.svg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
}
.icon-3 h4::before {
  content: "";
  position: absolute;
  width: 75px;
  height: 72px;
  top: 61px;
  left: 163px;
  background-color: #ffffff;
  background-image: url(../img/icon-3.svg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
}
.icon-2 h4::before {
  content: "";
  position: absolute;
  width: 75px;
  height: 72px;
  top: 61px;
  left: 163px;
  background-color: #ffffff;
  background-image: url(../img/icon-2.svg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
}
.advice-list-items p{
  margin: 0;
}
.advice-list-items h4{
  margin-bottom: 32px;
}

.feature-grey{
  display:flex;

  padding: 0;
  width: 100%;
}
.feature-grey-items{
  width: 33.333%;
}
.feature-grey-items h3{
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
}
.feature-grey-items p{
margin-left: auto;
margin-right: auto;
}
.search-hotel h2{
  margin: 0;
  margin-top: 60px;
  margin-bottom: 40px;
}
.search-hotel p{
  margin: 0;
  margin-bottom: 56px;
}
.button-search{
  padding-left: 100px;
  padding-top:36px;
  padding-right: 100px;
  padding-bottom: 36px;
  width: 569px;
  text-align: center;
  vertical-align: middle;
}
.form-hotel{

  display:flex;
  position: relative;

  /* flex-wrap: wrap; */
}
.form1,
.form2{
  width:460px;
}
.form3,
.form4{
  width: 228px;
}

.form2,
.form3,
.form4{
  margin-top: 29px;
}
.form3,
.form4{
  margin-bottom: 56px;
}

.map{
  width:100%;
  }

.form-hotel-items{
  width:458px;
  display: flex;
  flex-wrap: wrap;
padding:55px;
  position: absolute;
  left:50%;
  margin-left: -284px;
text-align: left;
  background-color: #ffffff;
}

.form1 input,
.form2 input{
  width: 346px;
}
.form1,
.form2{
  position: relative;
  display: flex;
}
.form3{
  margin-right: 54px;
}
.form3,
.form4{
  display: flex;
}
.form3 label{

  width: 113px;
}
.form4 label{
  width: 64px;
}
.form4{
width: 176px;
  text-align: left;
}
.calendar{
  position: absolute;
  right: 2px;
  top: 4px;
}


svg rect{
  fill:#cacaca;
}
.calendar:hover path,
.calendar:hover rect{
  fill:#292929;
}
.calendar:focus path,
.calendar:focus rect{
  fill:#b3d1e4;
}
.form1 label,
.form2 label{

  width:113px;
}
.search{
  padding-top: 20px;
  padding-bottom: 20px;
}
 .main-footer{
  display: flex;
  text-align: center;
  width: 1200px;
}
.hashtag{
  width: 33%;
  margin: 0;
  margin-top: 53px;
  margin-bottom: 53px;
}
.footer-social{
  list-style: none;
  margin: 0 auto;
  padding: 0;
  padding-left: 100px;
  margin-top: 37px;
  margin-bottom: 37px;
  display: flex;
}
.footer-copyright{
  width: 33%;
  margin-top: 39px;
  margin-right: 101px;
}
.footer-social ul{
  list-style: none;
  padding: 0;
}
.footer-social li{
 padding: 0;
}
.social-button{
  width: 46px;
  height: 48px;
  margin-right: 6px;
}
.main-footer div{
  width: 33%;
}
.social-button{
  background-color: rgba(129, 179, 210, 1);
}

.social-button:hover{
  background-color: rgba(102, 158, 192, 1);
}

.social-button:focus {
background-color: rgba(84, 150, 189, 1);
}
.social-button:focus path{
fill: rgba(0, 0, 0, 0.3);
}
.academy path{
  fill:#3a3637;
}

.academy:hover path{
  fill:#9cc3db;
}
.academy:focus path{
  fill:#dbdadb;
}




/*  дальше вторая страница*/
.inner-column{
  display: flex ;
  padding: 32px 72px;

}
.inner-column fieldset{
  margin: 0;
  padding: 0;
}
.infrastructure legend,
.type-of-housing legend{
  margin-bottom: 29px;
}
.infrastructure li:not(:last-child),
.type-of-housing li:not(:last-child){
  margin-bottom: 23px;

}
.infrastructure li,
.type-of-housing li{

  padding-left: 39px;
}

.checkbox label {
  padding-left: 20px;
  position: relative;
}

.checkbox label::before {
  content: '';
  display: block;
  width: 23px;
  height: 23px;
  background-image: url(../img/checkbox-off.svg);
  position: absolute;
  left: -17px;
  top: -2px;
  background-position: contain;
}
input:checked+label::before {
  content: '';
  display: block;
  width:27px;
  height:23px;
  background-image: url(../img/checkbox-on.svg);
  position: absolute;
  left: -17px;
  top: -2px;
  background-position: contain;
}
.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;

}
/* .checkbox-on,
.checkbox-of{
  position: relative;
}
.checkbox-on svg,
.checkbox-of svg{
  position: absolute;
  left: 0;
  fill: #ffffff;
}

.checkbox-on svg:hover,
.checkbox-of svg:hover{
  fill: #ffffff;
}
.checkbox-on svg:focus,
.checkbox-of svg:focus{
  fill: #656666;
} */
.filtres{
  width:100%;
}
ul{
  list-style: none;
  padding: 0;
}
.infrastructure,
.type-of-housing{
  width: 25%;
  border: none;
}
.cost-per-day legend{
  margin-bottom: 16px;
}

.price-controls{
  height: 36px;
  margin-bottom: 20px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  font-size: 0;
position: relative;
}
.price-controls::after {
  content: "";
  position: absolute;

  width: 2px;
  height: 22px;
  top: 50%;
  left: 50%;
transform: translate(-50%, -50%);
  background: #ffffff;
}

.price-controls label {
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  width: 90px;
    padding-left: 65px;
    font-size: 16px;
 line-height: 21px;
 margin-top: 8px;

}
.price-controls .before,
.price-controls .from {
    width: 50px;
    margin: 0;
    font-size: 16px;
    line-height: 21px;
    background: none;
    border: none;
  }
.inner-column .cost{
  border:none;
  max-width: 330px;
margin-left: auto;

}
.range-group{
  position: relative;
border: none;

}
.range-group .range {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
  margin-bottom: 34px;

}
.range-group .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}
.range-batton1,
.range-batton2{
  background-image: url(../img/filter-button.svg);
  width: 20px;
  height: 22px;
  fill:#ABABAB;
  position:absolute;
}
.range-batton1:hover,
.range-batton2:hover{
  background-image: url(../img/filter-button-b.svg);
  width: 22px;
  height: 24px;
}

.range-batton1{
  top: -9px;
  left: 0;
}
.range-batton2{
  top: -9px;
  left: 80%;
}

.button-results {
  display: block;

  padding: 6px 35px;
margin: 0 auto;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}
.from,
.before{
  background-color: transparent;
  color:#ffffff;
  text-align: center;
  border: none;

}
.from{
  border-right: none;
}
.before{
  border-left: none;
}
.cost-per-day{
    border: none;
}




.inner-column{
  min-height: 217px;
}



.range{
  border:none;
  margin: 0 auto;
}
.range-group{

}

.sort{
  display:flex;
  align-items: center;
  min-height: 87px;
}
.sort h2{

  margin: 0;
  margin-left: 32px;
  width: 100px;
}
.sort p{

  margin: 0;
  margin-left: 72px;
  min-width: 135px;
}
.rating-visual{
  background-image: url(../img/star.svg);
  background-repeat: no-repeat;
  width: 18px;
  height: 17px;
  fill:#9cc3db;
  background-position: contain;
}
.rating-visual,
.stars{
  display: flex;
  justify-content: flex-end;
  max-width: 110px;

}
.inner-column-results{
  display:flex;
  border-top: 1px solid #f9f9f9;
min-height: 119px;
padding-top: 31px;
}
.list-found{
  padding: 0;
}

.inner-column-photo{
  margin-left:72px;
}
.inner-column-hotel{
  width:780px;
  padding-right:15px;
  margin-right: 15px;
  text-align: left;
}
.inner-column-rating{
width: 183px;
}
.mini-column{
  display: flex;
}
.mini-column-1{
  margin-right: 7px;
}
h4{
  margin:0;
}
div span{
  display: block;
}
.social-button{
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-social{
  display: flex;

}
.main-footer{
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  bottom: 5px;
}
.minus,
.plus{
  color:#cbcbcb;
  margin: auto;
  line-height: 26px;
}

.plus:hover,
.minus:hover{
  color:#292929;
}
.plus:active,
.minus:active{
  color:#b3d1e4;
}
.main-footer-second{
  display: flex;
  text-align: center;
}
.main-footer-second div{
  width: 33%;
}
