body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;

}
.background-logo{
  background-color: #695b59;
  background-image: url("../img/background-photo.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  width: 100%;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.filtres{
  font-size: 14px;
  line-height: 21px;
  font-weight: 700px;
  color: #ffffff;
  background-color: #686d73;
  background-image: url("../img/filter-background.jpg");
  width: 1200px;
  background-position: top center;
  background-repeat: no-repeat;
}
a {
  text-decoration: none;
  color: inherit;
  font: inherit;
}
.logo{
  width:459px;
}
.main-navigation {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  background-color: #ffffff;
}
.site-navigation{
  list-style: none;
  font-weight: 700;
}
.site-navigation a:hover{
  color: #81b3d2;
}
.site-navigation a:focus{
  color: (0, 0, 0, 0.3);
}
.site-navigation .hotel-active{
  color: #766357;
}
.introduce{
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
}
.reasons{
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
}
.features-list{
  list-style: none;
  text-align: center;
}
.feature-item {
  text-align: center;
}

.feature-item h3,
.advice-list h4 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}
.photo1, .photo2{
  width:800px;
}
.feature-blue{
  color: #ffffff;
  background-color: #81b3d2;
}
.feature-blue h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}
.feature-grey{
  color: #000000;
  background-color: #eeeeee;
}
.feature-grey h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}
.search-hotel{
  background-color: #ffffff;
  color: #000000;
  text-align: center;
}
.search-hotel h2{
  font-size: 30px;
  line-height: 36px;
}

.button-search{
  font-size: 21px;
  line-height: 26px;
  color:#ffffff;
  width:568px;
  font-weight: 700;
  background-color:#766357;
  vertical-align: middle;
  text-transform: uppercase;
  border:none;
}
.button-search:hover{
  background-color: #604e43;
}
.button-search:focus{
  background-color: #503e33;
  color:#928a85;
}
.form-hotel{
  font-weight: 700;
  color:black;
  font-size: 14px;
  line-height: 26px;
}
.form-hotel input{
  color:#000000; /*все еще не работает*/
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  font: inherit;
  font-size: 14px;
  line-height: 26px;
}
.form-hotel input:hover{
  font: inherit;
  background-color:#ebebeb;
  border: 1px solid #ebebeb;
}
.form-hotel input:focus{
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
}
.form-buttom{
  background-color: #f2f2f2;
  width: 38px;
  text-align: center;
  border: none;
}
.plus-minus{
  color:#a9a9a9;
  font-size: 14px;
  line-height: 26px;
}
.plus-minus:hover{
  color:#000000;
}
.plus-minus:focus,
.plus-minus:active{
  color:#81b3d2;
}
.search{
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  width: 458px;
  color: #ffffff;
  background-color: #81b3d2;
  vertical-align: middle;
  text-transform: uppercase;
  border:none;
}
.search:hover{
  background-color: #669ec0;
}
.search:focus{
  background-color: #5496bd;
  color: (255, 255, 255, 0,3)
}
.button-results{
  text-align: center;
  font-size: 14px;
  line-height: 21px;
  border:2px solid white;
  background-color: transparent;
  color:white;
  width: 133px;
}
.button-results:hover{
  background-color: white;
  color:black;
}
.sort h2{
  color:black;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}
.resuls-search{
  font-size: 21px;
  color: black;
}
.sort .choose{
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  border: none;
  border-bottom: dotted;
  border-color: #81b3d2;
  background-color: white;
  text-transform: uppercase;
}
.sort .choose:hover{
  color:#81b3d2;
  border-bottom: 1px dotted;
}
.sort .choose:focus{
  color: black;
  border-bottom: none;
}
.sort .choose-active{
  color:#81b3d2;
  border-bottom: none;
}
.list-found{
  list-style: none;
}
.list-found h3{
  margin:0;
}
.button-detail, .button-book{
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  border: none;
  color: white;
  text-transform: uppercase;
}
.button-detail{
  background-color: #81b3d2;
  min-width:110px;
  border: none;
}
.button-detail:hover{
  background-color: #669ec0;
}
.button-detail:focus{
  background-color: #5496bd;
}

.button-book{
background-color: #766357;
min-width: 142px;
border: none;
}
.button-book:hover{
background-color: #604e43;
}
.button-book:focus{
background-color: #503e33;
}
.rating{
  font-size: 14px;
  line-height: 25px;
  font-weight: 400;
}
.text-behavior{
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}
.text-behavior:hover, .text-behavior:focus{
  color: #81b3d2;
}
.text-behavior:active{
  color:rgba(0, 0, 0, 0.3);
}
.hashtag{
  font-size: 21px;
  line-height: 25px;
  font-weight: 700;
}


/* сеточные стили */
.page-content{
  width: 1200px;
  margin:0 auto;
  background-color: #ffffff;
}
.main-header{
  margin:0;
  padding:0;
}
.main-navigation{
  position: relative;
  width: 100%;
}
.main-logo{
  width:140px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.site-navigation{
  padding-left: 75px;
  padding-right: 75px;
  display: flex;
  margin: 0;
}
/* .site-navigation li{
  width: 20%;
  text-align:right;
} */
.left-side-navigation{
  width: 25%;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: left;
}
.right-side-navigation{
  width: 25%;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: right;
}

/*  остановилась тут*/
.background-logo{
    text-align: center;
}
.logo{
  padding: 77px;
}

.number,
li>h3,
span+p{
  text-align: center;
}
.blue-text{
  width: 33,333%;
  padding: 50px 60px 40px 60px;
}
.blue-photo{
  width:66,666%;
}
.features-list {
  margin: 0;
  padding:0;
}
.feature-blue{
  width: 1200px;
  display: flex;

}
p{
  padding:0;
}
.advice-list{
  display: flex;
}
.advice-list-items{
  width: 33%;
  padding:50px;
}
.icon-1{
  background-image: url(../img/icon-1.svg);
  background-repeat: no-repeat;
  background-position: top center;
  margin-bottom: 30px;
}
.icon-2{
  background-image: url(../img/icon-2.svg);
  background-repeat: no-repeat;
  background-position: top center;
  margin-bottom: 30px;
}
.icon-3{
  background-image: url(../img/icon-3.svg);
  background-repeat: no-repeat;
  background-position: top center;
  margin-bottom: 30px;
}
.feature-grey{
  display:flex;
}
.feature-grey-items{
  width:33%;
  list-style: none;
  padding: 50px;
}
.map{
  width:100%;
}

.form-hotel{
  display: flex;
  flex-direction: column;
  width:568px;
  margin: 0 auto;
}


 .main-footer{
  display: flex;
  text-align: center;
}
.hashtag{
  width: 33%;
}
.footer-social{
  list-style: none;
  width: 33%;
}
.footer-copyright{
  width: 33%;
}
.footer-social ul{
  list-style: none;
}
.social-button-1{
  background-image: url(../img/twitter.svg);
  background-repeat: no-repeat;
  background-position: top center;
}
.social-button-2{
  background-image: url(../img/twitter.svg);
  background-repeat: no-repeat;
  background-position: top center;
}
.social-button-3{
  background-image: url(../img/twitter.svg);
  background-repeat: no-repeat;
  background-position: top center;
}

.inner-column{
  display: flex ;
  padding-top: 32px;
  padding-left:72px;
}
.filtres{
  width:100%;
}
ul{
  list-style: none;
}
.infrastructure,
.type-of-housing{
  width: 25%;
  border: none;
}
.cost{
  border:none;
}
.range-group{
  border:none;
}
.cost-per-day{
  width:50%;
    border: none;
    margin: 0 auto;
}
.range{
  border:none;
  margin: 0 auto;
}
.range-group{

}

.sort{
  display:flex;
  align-items: center;
  min-height: 87px;
}
.sort h2{
  order:0;
  margin: 0;
  margin-left: 32px;
  width: 100px;
}
.sort p{
  order:-1;
  margin: 0;
  margin-left: 72px;
  min-width: 135px;
}
.sort .choose{
  order:1;
}

.inner-column-results{
  display:flex;
  border-top: 1px solid #f9f9f9;
min-height: 119px;
padding-top: 31px;
}
.list-found{
  padding: 0;
}
/* .inner-column-results li{
list-style: none;
} */
.inner-column-photo{
  margin-left:72px;
}
.inner-column-hotel{
  width:780px;
  padding-right:15px;
  margin-left:31px;
  margin-right: 15px;
  text-align: left;
}
.inner-column-rating{
width: 183px;
}
.mini-column{
  display: flex;
}
.mini-column-1{
  margin-right: 7px;
}
h4{
  margin:0;
}
div span{
  display: block;
}
.social-button{
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}
.footer-social{
  display: flex;

}
.footer-social li{
  padding-right:20px;
}
