body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  background-color: #ffffff;
}
.background-logo{
  background-color: #695b59;
  background-image: url("../img/background-photo.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  width: 1200px;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.filtres{
  font-size: 14px;
  line-height: 21px;
  font-weight: 700px;
  color: #ffffff;
  background-color: #686d73;
  background-image: url("../img/filter-background.jpg");
  width: 1200px;
  background-position: top center;
  background-repeat: no-repeat;
}
a {
  text-decoration: none;
  color: inherit;
  font: inherit;
}
.logo{
  width:459px;
}
.main-navigation {
  font-size: 14px;
  line-height: 26px;
  font-style: 700;
  background-color: #ffffff;
}
.site-navigation{
  list-style: none;
  font-weight: 700;
}
.site-navigation a:hover{
  color: #81b3d2;
}
.site-navigation a:focus{
  color: (0, 0, 0, 0.3);
}
.site-navigation .hotel-active{
  color: #766357;
}
.introduce{
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
}
.reasons{
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
}
.features-list{
  list-style: none;
  text-align: center;
}
.feature-item {
  text-align: center;
}

.feature-item h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}
.photo1, .photo2{
  width:800px;
}
.feature-blue{
  color: #ffffff;
  background-color: #81b3d2;
}
.feature-blue h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}
.feature-grey{
  color: #000000;
  background-color: #eeeeee;
}
.feature-gray h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}
.search-hotel{
  background-color: #ffffff;
  color: #000000;
  text-align: center;
}
.search-hotel h2{
  font-size: 30px;
  line-height: 36px;
}

.button-search{
  font-size: 21px;
  line-height: 26px;
  color:#ffffff;
  width:568px;
  font-weight: 700;
  background-color:#766357;
  vertical-align: middle;
  text-transform: uppercase;
  border:none;
}
.button-search:hover{
  background-color: #604e43;
}
.button-search:focus{
  background-color: #503e33;
  color:#928a85;
}
.form-hotel{
  font-weight: 700;
  color:black;
  font-size: 14px;
  line-height: 26px;
}
.form-hotel input{
  color:#000000; /*все еще не работает*/
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  font: inherit;
  font-size: 14px;
  line-height: 26px;
}
.form-hotel input:hover{
  font: inherit;
  background-color:#ebebeb;
  border: 1px solid #ebebeb;
}
.form-hotel input:focus{
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
}
.form-buttom{
  background-color: #f2f2f2;
  width: 38px;
  text-align: center;
  border: none;
}
.plus-minus{
  color:#a9a9a9;
  font-size: 14px;
  line-height: 26px;
}
.plus-minus:hover{
  color:#000000;
}
.plus-minus:focus,
.plus-minus:active{
  color:#81b3d2;
}
.search{
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  width: 458px;
  color: #ffffff;
  background-color: #81b3d2;
  vertical-align: middle;
  text-transform: uppercase;
  border:none;
}
.search:hover{
  background-color: #669ec0;
}
.search:focus{
  background-color: #5496bd;
  color: (255, 255, 255, 0,3)
}
.button-results{
  text-align: center;
  font-size: 14px;
  line-height: 21px;
  border:2px solid white;
  background-color: transparent;
  color:white;
  width: 133px;
}
.button-results:hover{
  background-color: white;
  color:black;
}
.sort h2{
  color:black;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}
.resuls-search{
  width: 21px;
  color: black;
}
.sort .choose{
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  border: none;
  border-bottom: dashed;
  border-color: #81b3d2;
  background-color: white;
  text-transform: uppercase;
}
.sort .choose:hover{
  color:#81b3d2;
  border-bottom: dashed;
}
.sort .choose:focus{
  color: black;
  border-bottom: none;
}
.sort .choose-active{
  color:#81b3d2;
  border-bottom: none;
}
.list-found{
  list-style: none;
}
.list-found h3{
  margin:0;
}
.button-detail, .button-book{
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  border: none;
  color: white;
  text-transform: uppercase;
}
.button-detail{
  background-color: #81b3d2;
  width:110px;
  border: none;
}
.button-detail:hover{
  background-color: #669ec0;
}
.button-detail:focus{
  background-color: #5496bd;
}

.button-book{
background-color: #766357;
width: 142px;
border: none;
}
.button-book:hover{
background-color: #604e43;
}
.button-book:focus{
background-color: #503e33;
}
.rating{
  font-size: 14px;
  line-height: 25px;
  font-weight: 400;
}
.text-behavior{
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}
.text-behavior:hover, .text-behavior:focus{
  color: #81b3d2;
}
.text-behavior:active{
  color:rgba(0, 0, 0, 0.3);
}
.hashtag{
  font-size: 21px;
  line-height: 25px;
  font-weight: 700;
}
